body {
	color: #333;
	/*
	This is where you can set your *base styles* for the page.
	Lots of other stuff should go here, like:
	- font-family
	- line-height
	- background-color (for the page - don't go too crazy here. White is nice!)
	*/

	/* REMOVE */
	font-family: palatino, garamond, georgia, serif;
	line-height: 1.7;
	background-color: #eee;
}

/********************************************************************
 Put your typography stuff here. I'll get you started:
 ********************************************************************/

p {

}

h1 {
	/*REMOVE*/
	font-family: futura, sans-serif;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: normal;
	border-bottom: 1px solid #ccc;
}

/*REMOVE*/
h2 {
	font-family: futura, sans-serif;
	letter-spacing: .1em;
	font-weight: normal;
}

#ingredients h3 {
	border-bottom: 1px solid #ccc;
}


h3 {
	font-family: futura, sans-serif;
	letter-spacing: .1em;
	font-weight: normal;
	text-transform: uppercase;
	font-size: .875em;	
}

/* End typography */

/* Layout */

#wrap {
	width: 960px;
	padding: 16px; /* Space between the content of the box and the edge of the box. */
	margin: 0 auto; /* top/bottom left/right */
	/* This is a cool trick to center something in the window:
	Top and bottom margins are set to 0, but left and right are set to "auto" - the browser will divide the leftover space evenly between left and right */

	overflow: auto; /* Don't remove this: if you change the background colour for #wrap you'll need it. If you really want to know why, book office hours:) - it's a bit of a hack. */
	/*REMOVE*/
	background: white;
	border-radius: 3px;
	box-shadow: 0 0 10px #ccc;
}

/*
Ingredients to the left, instructions to the right.
There's a 5% gap between columns
*/

#ingredients {
	width: 30%;
	float: right;
}

#instructions {
	width: 65%;
	float: left;
}